@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this to ensure full height and no scrolling */
html, body, #root {
  height: 100%;
  overflow: hidden;
}

/* Add this for smooth animation of tavus pop up */

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out;
  }

  .animate-scaleIn {
    animation: scaleIn 0.3s ease-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes scaleIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
